$backgroundColor: #dfdfdf;
$spacing: 8px;
$spacingDouble: $spacing * 2;
$colorTitle: #272727;
$colorText: #9799a0;

@mixin flexDisplay($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: 4px;
}

@mixin mq($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
.search-bar {
  background-color: #9799a0;
  width: 80%;
  margin: auto;
  @include mq {
    width: 256px;
  }
}
.search-select {
  background-color: #9799a0;
  width: 80%;
  margin: auto;
  @include mq {
    width: 256px;
  }
}

.card-container {
  background-color: $backgroundColor;
  border-radius: 15px;
  padding: $spacingDouble;
  box-shadow: 2px 2px 4px rgb(80, 80, 80);
  @include flexDisplay();
  @include mq() {
    @include flexDisplay(row, start);
    width: 40vw;
  }
  .cover-container {
    @include mq() {
      width: 50%;
    }
    img {
      width: 100%;
    }
  }

  .description-container {
    @include flexDisplay();
    @include mq() {
      width: 50%;
    }
    h2 {
      color: $colorTitle;
      margin: 0;
    }
    h3 {
      color: $colorTitle;
      margin-bottom: 0;
    }
    p {
      @include mq() {
        padding-left: 16px;
      }

      color: $colorText;
      text-align: left;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
    }
    .separator {
      width: 80%;
      padding: 0.5px;
      background-color: $colorText;
      margin-block: 5%;
    }
    .avaible-subtitles {
      width: 100%;
      @include flexDisplay(row, center, space-around);
      @include mq() {
        @include flexDisplay(row, center, center);
      }

      span {
        padding-block: $spacing;
        padding-inline: 8px;
        background-color: $colorText;
        border-radius: 20px;
        &:hover {
          background-color: lighten($color: $colorText, $amount: 20);
          cursor: pointer;
        }
      }
    }
  }
}
